version: "3"

services:
  react-app:
    build: client/
    command: npm start
    environment: 
      - CHOKIDAR_USEPOLLING=true
    container_name: react-app
    depends_on: 
      - express-app
    ports:
      - 3000:3000
    volumes:
      - ./client:/client/
    
  express-app:
    build: server/
    command: npx nodemon index.js
    environment: 
      - CHOKIDAR_USEPOLLING=true
    container_name: express-app
    ports:
      - 8000:8000
    volumes:
      - ./server:/server/
    