# This will connect to the main branch of the db in the final changes
# Rename this to .env and copy a dev branch url to here from PlanetScale 
DATABASE_NAME='blueprint-tces'
DATABASE_USERNAME='8p17fcl2jfs56m6568qv'
DATABASE_PASSOWRD='pscale_pw_I0KA2cGUmh9IeR95xDnRy9YAjZlkLQGzJVn1JXbJWve'
FRONTNED_URL='http://localhost:3000'
USERS_TABLE="users-dev"