# This will connect to the main branch of the db in the final changes
# Rename this to .env and copy a dev branch url to here from PlanetScale 
DATABASE_NAME='blueprint-tces'
DATABASE_USERNAME=''
DATABASE_PASSWORD=''
DATABASE_HOST='aws.connect.psdb.cloud'
FRONTEND_URL='http://localhost:3000'
USERS_TABLE='users-dev'
SESSION_SECRET=